.NavbarItems {
  background: rgb(49, 96, 47);
  text-align: center;
  width:  100%;
  height: 100%;
  font-size: 1.5rem;
  border-style: fixed; 
  position: fixed;
  left: 0;
  right: 0;
}

.nav-menu {
  display: flex;
  grid-template-rows: repeat(5, auto);
  grid-gap: 50px;
  list-style: none;

}

.nav-links {
  align-content: center;
  display: inline-block;
  color: rgb(224, 224, 224);
  border-style: solid;
  border-color: rgb(0, 0, 0);
  padding: 0px 30px;
  border-radius: 10;
  background-color: rgb(13, 27, 16);
}

.nav-links:hover {
  border-radius: 5px;
  border-color: rgb(60, 0, 156);
  transition: width 2s, height 2s, transform 2s;
  color: #6b00a9;
}
